<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OA_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

        * {
            font-family: 'Quicksand', sans-serif;
        }

        #pageMessages {
            position: fixed;
            top: 90px;
            right: 15px;
            z-index: 8;
            width: 30%;
            transition: all 0.3s;
        }



        .alert {
            position: relative;
        }

            .alert .close {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 1em;
            }

            .alert .fa {
                margin-right: .3em;
            }

        body {
            padding-top: 76px !important;
            min-height: 100vh;
        }

        main {
            min-height: 49vh !important;
        }

        .icon {
            cursor: pointer;
            margin-left: 25px;
            margin-top: 10px
        }

            .icon span {
                border-radius: 50%;
                color: #fff;
                vertical-align: top;
                margin-right: -6px;
                margin-top: 6px;
            }

        }

        .icon img {
            display: inline-block;
            width: 26px;
            margin-top: 4px
        }

        .icon:hover {
            opacity: .7
        }

        .logo {
            flex: 1;
            margin-left: 50px;
            color: #eee;
            font-size: 20px;
            font-family: monospace
        }
        @@media (max-width: 768px) {
            #About {
                display: none;
            }
        }


        @@media (max-width: 575px) {
            #About {
                display: block;
            }

            #pageMessages {
                width: 60%;
            }
        }


  
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-dark bg-dark shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Applicant" asp-action="Index"><img width="150" height="50" src="~/site/image/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" id="About" asp-action="AddApplicant" asp-controller="Applicant">Apply Now</a>
                        </li>
                        @*<li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Applicant" asp-action="AddApplicant">Apply Now</a>
                </li>*@
                </div>
                @*<partial name="_LoginPartial" />*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="color:white" class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2021 - <a asp-area="" asp-controller="Applicant" asp-action="Index">Applicants List</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
