@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-action="AddApplicant" asp-controller="Applicant">Applay To The Position Now</a>.</p>
</div>
